@model SmallBusiness.ViewModels.SubscriptionViewModel
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">


        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Products</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalProductQuantityThisMonth</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalProductsPriceThisMonth.ToString("0.00")</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-md-4">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Customers</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.NumberOfCustomers</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-md-12">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">You're account will be expired in @(ViewBag.SubscriptionEndDate.ToShortDateString())</h5>
                            <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-container w3-blue w3-round-xlarge" style="width:@ViewBag.SubscriptionProgress%;height:25px">@ViewBag.SubscriptionProgress</div>
                            </div>



                            @if (ViewBag.ShowResubscribeButton != null && ViewBag.ShowResubscribeButton)
                            {
                                <form method="post">
                                    <button type="submit" name="resubscribe" value="true" class="btn btn-primary mt-4">Resubscribe</button>
                                </form>
                            }
                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales">

                        <div class="card-body">
                            <h5 class="card-title">Recent Orders</h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-center">Product Name</th>
                                        <th scope="col" class="text-center">Product Price</th>
                                        <th scope="col" class="text-center">Product Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.sellerOrderItemsThisMonth != null)
                                    {
                                        int index = 1;
                                        foreach (var orderItem in ViewBag.sellerOrderItemsThisMonth)
                                        {
                                            var product = orderItem.Product;
                                         
                                            <tr class="text-center">
                                                <th scope="row">@index</th>
                                                <td>@product.ProductName</td>
                                                <td>$@(product.ProductPrice * orderItem.ProductQuantity)</td>
                                                <td>
                                                    <img src="~/CategoryImg/@product.ImageUrl" style="width:90px" alt="@product.ProductName">
                                                </td>
                                            </tr>
                                            index++;
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->


            </div>
        </div><!-- End Left side columns -->

    </div>
</section>
<script src="~/EditJS/progress.js"></script>
<script>
    var totalSubscriptionDays = 30;

    function updateProgressBar(remainingDays) {
        var progressBar = document.querySelector('.w3-container.w3-round-xlarge');
        var elapsedDays = totalSubscriptionDays - remainingDays;
        var percentage = (elapsedDays / totalSubscriptionDays) * 100;
        progressBar.style.width = percentage + '%';

        if (remainingDays <= 3) {
            progressBar.className = 'w3-container w3-round-xlarge w3-red'; // Replace classes with w3-red when remaining days are 3 or fewer
        } else {
            progressBar.className = 'w3-container w3-round-xlarge w3-blue'; // Reset classes to w3-blue when remaining days are more than 3
        }
    }

    updateProgressBar(@ViewBag.RemainingDays);
</script>

<script>
    var message = "@TempData["Message"]";

    if (message) {
        Swal.fire({
            title: 'Subscription Alert',
            text: message,
            icon: 'warning',
            confirmButtonText: 'OK'
        });
    }
</script>


