<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">


        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Sales Card -->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card sales-card">
                        <div class="card-body">
                            <h5 class="card-title">Products</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-cart"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalProductCount</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Revenue Card -->
                <div class="col-xxl-4 col-md-3">
                    <div class="card info-card revenue-card">
                        <div class="card-body">
                            <h5 class="card-title">Revenue <span>| This Month</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-currency-dollar"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.TotalRevenueThisMonth.ToString("0.00")</h6>
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Revenue Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-md-3">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Customers</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>@ViewBag.NumberOfCustomers</h6>
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Customers Card -->
                <div class="col-xxl-4 col-md-3">

                    <div class="card info-card customers-card">
                        <div class="card-body">
                            <h5 class="card-title">Note</h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="ri-sticky-note-line"></i>
                                </div>
                                <div class="ps-3">
                                    @if (ViewBag.Subscription != null)
                                    {
                                        <span>Your subscription will end on: @ViewBag.Subscription.SubscriptionEndDate.ToShortDateString()</span>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>

                </div><!-- End Customers Card -->
                <!-- Recent Sales -->
                <div class="col-12">
                    <div class="card recent-sales">

                        <div class="card-body">
                            <h5 class="card-title">Recent Orders</h5>

                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" class="text-center">Customer</th>
                                        <th scope="col" class="text-center">Product Name</th>
                                        <th scope="col" class="text-center">Product Rate</th>
                                        <th scope="col" class="text-center">Product Image</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.LatestProducts != null)
                                    {
                                        @foreach (var item in ViewBag.LatestProducts)
                                        {
                                            <tr class="text-center">
                                                <th scope="row">#@item.ProductId</th>
                                                <td>@item.ProductName</td>
                                                <td>@item.ReviewRate/5</td>
                                                <td>$@item.ProductPrice</td>
                                                <td>
                                                    <img src="~/CategoryImg/@item.ImageUrl" style="width:90px">
                                                </td>
                                            </tr>

                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div><!-- End Recent Sales -->


            </div>
        </div><!-- End Left side columns -->

    </div>
</section>

