@using SmallBusiness.List;

@{
    var role = ViewBag.Role as string;
}
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item" active>Sellers</li>
        </ol>
    </nav>
</div>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <table class="table datatable table-hover">
                        <thead>
                            <tr>
                                <th>
                                    User Name
                                </th>
                                <th>
                                    User Image
                                </th>
                                <th>
                                    User Name
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             @if (ViewBag.SellersWithProfiles != null)
                            {
                                foreach (var sellerWithProfile in ViewBag.SellersWithProfiles)
                                {
                                    <tr>
                                        <td>
                                            @sellerWithProfile.Seller.FirstName @sellerWithProfile.Seller.LastName
                                        </td>
                                        <td>
                                            <img src="~/User/@sellerWithProfile.Seller.Image" alt="" style="width:90px">
                                        </td>
                                        <td>
                                            @sellerWithProfile.Seller.UserName
                                        </td>
                                        <td class="text-end">
                                            <button class="btn btn-primary" onclick="location.href='@Url.Action("SellerDetails", "Admin", new { sellerId = sellerWithProfile.Seller.Id })'">
                                                <i class="ri-file-list-2-line"></i>
                                            </button>

                                            @if (sellerWithProfile.Seller.IsApproved)
                                            {
                                                <a asp-action="ToggleStatus" asp-route-id="@sellerWithProfile.Seller.Id" class="btn  btn-success" style="color:white">
                                                    <i class="ri-user-follow-fill"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a asp-action="ToggleStatus" asp-route-id="@sellerWithProfile.Seller.Id" class="btn  btn-danger">
                                                    <i class="ri-user-unfollow-fill"></i>
                                                </a>
                                            }

                                           @* <form id="deleteSellerForm-@sellerWithProfile.Seller.Id" method="post" asp-action="DeleteSeller" asp-route-id="@sellerWithProfile.Seller.Id" class="d-inline" style="margin-left:1%">

                                                <button type="submit" class="btn btn-danger" style="display: none;"></button>
                                                <a href="#" class="btn btn-danger" onclick="confirmDeleteSeller('@sellerWithProfile.Seller.Id')">
                                                    <i class="ri-delete-bin-5-line"></i>
                                                </a>
                                            </form>*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    function confirmDeleteSeller(sellerId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, submit the form
                document.getElementById('deleteSellerForm-' + sellerId).submit();
            }
        });
    }
</script>
