@model IEnumerable<SmallBusiness.Models.Product>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Seller">Home</a></li>
            <li class="breadcrumb-item" active>Products</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="mt-3 text-end">
                        <a asp-action="Create" class="btn btn-primary">Create <i class="bi bi-plus-lg"></i></a>
                    </div>
                    <table class="table datatable table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductPrice)
                                </th>
                               
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductPrice)
                                    </td>
                                   
                                    <td>
                                        <img src="~/CategoryImg/@item.ImageUrl" style="width:80px;">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </td>
                                   
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">
                                            <i class="ri-edit-line rem"></i>
                                        </a>
                                        <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-primary">
                                            <i class="ri-file-list-2-line"></i>
                                        </a> 
                                        <form id="deleteForm-@item.ProductId" method="post" asp-action="Delete" asp-route-id="@item.ProductId" class="d-inline">
                                            @Html.Hidden("Id", item.ProductId)
                                            <button type="submit" class="btn btn-danger" style="display: none;"></button>
                                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.ProductId')">
                                                <i class="ri-delete-bin-5-line"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>


<script>
    function confirmDelete(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm-' + productId).submit();
            }
        });
    }
</script>