@model IEnumerable<SmallBusiness.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Seller">Home</a></li>
            <li class="breadcrumb-item" active>Categories</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ProductQuantityStock)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ImageUrl)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Category)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductPrice)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProductQuantityStock)
                                    </td>
                                    <td>
                                        <img src="~/CategoryImg/@item.ImageUrl" style="width:80px;">
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                                    </td>
                                   
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>


