@using System.Security.Claims;
@model SmallBusiness.Models.Testimonial
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .circle{
        width: 48px;
        height: 48px;
        margin: 0 5px;
        text-align: center;
        color: #fff;
        border-radius: 50%;
        background-color: #333;
    }
    
    .icon{
        font-size: 16px;
        line-height: 48px;
    }
    
</style>


@{
    bool orderConfirmationEmailSent = TempData["OrderConfirmationEmailSent"] as bool? ?? false;
}
<script>
    $(document).ready(function () {
        if (@orderConfirmationEmailSent.ToString().ToLower()) {
            Swal.fire({
                icon: 'success',
                title: 'Order Confirmation Email Sent!',
                text: 'An email containing the details of your order has been sent to you.',
                showConfirmButton: false,
                timer: 3000 
            });
        }
    });
</script>


@{
    var sellerConfirmation = TempData["SellerConfirmation"] as bool? ?? false;
}


<!-- Slider main container Start -->
<div class="home1-slider swiper-container">
    <div class="swiper-wrapper">
        <div class="home1-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="https://htmldemo.net/learts/learts/assets/images/slider/home1/slide-2.webp">
            <div class="home1-slide1-content">
                <span class="bg"></span>
                <span class="slide-border"></span>
                <span class="icon"><img src="~/assets/images/slider/home1/slide-1-1.webp" alt="Slide Icon"></span>
                <h2 class="title">Handicraft Shop</h2>
                <h3 class="sub-title">Just for you</h3>
                <div class="link"><a asp-action="products" asp-controller="Product">shop now</a></div>
            </div>
        </div>
        <div class="home1-slide-item swiper-slide" data-swiper-autoplay="5000" data-bg-image="https://htmldemo.net/learts/learts/assets/images/slider/home1/slide-1.webp">
            <div class="home1-slide2-content">
                <span class="bg" data-bg-image="~/assets/images/slider/home1/slide-2-1.webp"></span>
                <span class="slide-border"></span>
                <span class="icon">
                    <img src="~/assets/images/slider/home1/slide-2-2.webp" alt="Slide Icon">
                    <img src="~/assets/images/slider/home1/slide-2-3.webp" alt="Slide Icon">
                </span>
                <h2 class="title">Newly arrived</h2>
                <h3 class="sub-title">Sale up to <br>70%</h3>
                <div class="link"><a asp-action="ProductSale" asp-controller="Product">shop now</a></div>
            </div>
        </div>
      
    </div>
    <div class="home1-slider-prev swiper-button-prev"><i class="ti-angle-left"></i></div>
    <div class="home1-slider-next swiper-button-next"><i class="ti-angle-right"></i></div>
</div>
<!-- Slider main container End -->


<!-- Category Banner Section Start -->
<div class="section section-fluid learts-pt-30">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h3 class="sub-title">Shop by categories</h3>
            <p>Browse a wide range of distinctive pieces of arts you could never find elsewhere.</p>
        </div>
        <!-- Section Title End -->
        <div class="category-banner1-carousel">
            @if (ViewBag.categoryList != null)
            {
                @foreach (var category in ViewBag.categoryList)
                {

                    <div class="col">
                        <div class="category-banner4">
                            <a asp-action="products" asp-controller="Product" asp-route-CategoryName="@category.CategoryName" class="inner">
                                <div class="image"><img src="~/CategoryImg/@category.Image" alt=""></div>
                                <div class="content" data-bg-color="#f4ede7">
                                    <h3 class="title">@category.CategoryName</h3>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No categories</p>
            }
        </div>
    </div>
</div>
<!-- Category Banner Section End -->

<!-- Product Section Start -->
<div class="section section-padding border-bottom">
    <div class="container">
        <div class="section-title2 text-center">
            <h3 class="sub-title">Just for you</h3>
        </div>
      
        <!-- Product Tab Start -->
        <div class="row">
            <div class="col-12">
                <ul class="product-tab-list nav">
                    <li><a class="active" data-bs-toggle="tab" href="#tab-new-sale">New arrivals</a></li>
                    <li><a data-bs-toggle="tab" href="#tab-sale-items">Sale items</a></li>
                    <li><a data-bs-toggle="tab" href="#tab-best-sellers">Best sellers</a></li>
                </ul>
                <div class="prodyct-tab-content1 tab-content">
                    <div class="tab-pane fade show active" id="tab-new-sale">
                        <!-- Products Start -->
                        <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                            @functions {
                                bool IsProductInUserFavorites(List<Favorite> favorites, int productId, string userId)
                                {
                                    return favorites != null && favorites.Any(f => f.ProductId == productId && f.UserId == userId);
                                }
                            }

                            @{
                                // Get the current user ID
                                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            }
                            @if (ViewBag.categoryList != null)
                            {
                                @foreach (var newProduct in ViewBag.NewProducts)
                                {
                                    <div class="col">
                                        <div class="product">
                                            <div class="product-thumb">
                                                <a asp-controller="Product" asp-action="productDetails" asp-route-productId="@newProduct.ProductId" class="image">
                                                    <img src="~/CategoryImg/@newProduct.ImageUrl" alt="Product Image">
                                                    <img class="image-hover " src="~/CategoryImg/@newProduct.ImageUrl" alt="Product Image">
                                                </a>
                                                <button type="button" class="add-to-wishlist " data-product-id="@newProduct.ProductId" onclick="toggleFavorite(this)" style="background:none;border:none">
                                                    <i class="@(IsProductInUserFavorites(ViewBag.Fav, newProduct.ProductId, currentUserId) ? "fas" : "far") fa-heart" data-fav="@IsProductInUserFavorites(ViewBag.Fav, newProduct.ProductId, currentUserId)"></i>
                                                </button>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="title"><a href="product-details.html">@newProduct.ProductName</a></h6>
                                                <span class="price">$@newProduct.ProductPrice</span>
                                                <div class="product-buttons">
                                                    <a href="#" class="product-button hintT-top quickViewButton" data-hint="Quick View" data-product-id="@newProduct.ProductId">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                    <a data-product-id="@newProduct.ProductId" data-change="add" class="product-button hintT-top addToCartButton" data-hint="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No Products Available</p>
                            }
                        </div>
                        <!-- Products End -->
                    </div>
                    <div class="tab-pane fade" id="tab-sale-items">
                        <!-- Products Start -->
                        <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                             @if (ViewBag.categoryList != null)
            {
                                @foreach (var discountedProduct in ViewBag.DiscountedProducts)
                                {
                                    <div class="col">
                                        <div class="product">
                                            <div class="product-thumb">
                                                <a asp-controller="Product" asp-action="productDetails" asp-route-productId="@discountedProduct.ProductId" class="image">
                                                    <span class="product-badges">
                                                        <span class="onsale">-@discountedProduct.DiscountPercent.ToString("0.")%</span>
                                                    </span>
                                                    <img src="~/CategoryImg/@discountedProduct.ImageUrl" alt="Product Image">
                                                    <img class="image-hover " src="~/CategoryImg/@discountedProduct.ImageUrl" alt="Product Image">
                                                </a>
                                                <button type="button" class="add-to-wishlist " data-product-id="@discountedProduct.ProductId" onclick="toggleFavorite(this)" style="background:none;border:none">
                                                    <i class="@(IsProductInUserFavorites(ViewBag.Fav, discountedProduct.ProductId, currentUserId) ? "fas" : "far") fa-heart" data-fav="@IsProductInUserFavorites(ViewBag.Fav, discountedProduct.ProductId, currentUserId)"></i>
                                                </button>
                                            </div>
                                            <div class="product-info">
                                                <h6 class="title"><a href="product-details.html">@discountedProduct.ProductName</a></h6>
                                                <span class="price">
                                                    <span class="old">$@discountedProduct.OldPrice</span>
                                                    <span class="new">$@discountedProduct.NewPrice.ToString("0.00")</span>
                                                </span>
                                                <div class="product-buttons">
                                                    <a href="#" class="product-button hintT-top quickViewButton" data-hint="Quick View" data-product-id="@discountedProduct.ProductId">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                    <a data-product-id="@discountedProduct.ProductId" data-change="add" class="product-button hintT-top addToCartButton" data-hint="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No Products Available</p>
                            }
                        </div>
                        <!-- Products End -->
                    </div>
                    <div class="tab-pane fade" id="tab-best-sellers">
                        <!-- Products Start -->
                        <div class="products row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1">
                             @if (ViewBag.categoryList != null)
            {
                            @foreach (var rateProduct in ViewBag.MostRatedProducts)
                            {
                                <div class="col">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <span class="product-badges">
                                                <span class="hot">hot</span>
                                            </span>
                                                <a asp-controller="Product" asp-action="productDetails" asp-route-productId="@rateProduct.ProductId" class="image">
                                                <img src="~/CategoryImg/@rateProduct.ImageUrl" alt="Product Image">
                                                <img class="image-hover " src="~/CategoryImg/@rateProduct.ImageUrl" alt="Product Image">
                                            </a>
                                            <button type="button" class="add-to-wishlist " data-product-id="@rateProduct.ProductId" onclick="toggleFavorite(this)" style="background:none;border:none">
                                                <i class="@(IsProductInUserFavorites(ViewBag.Fav, rateProduct.ProductId, currentUserId) ? "fas" : "far") fa-heart" data-fav="@IsProductInUserFavorites(ViewBag.Fav, rateProduct.ProductId, currentUserId)"></i>
                                            </button>
                                        </div>
                                        <div class="product-info">
                                            <h6 class="title"><a href="product-details.html">@rateProduct.ProductName</a></h6>
                                            <span class="price">
                                                $@rateProduct.ProductPrice
                                            </span>
                                            <div class="product-buttons">
                                                    <a href="#" class="product-button hintT-top quickViewButton" data-hint="Quick View" data-product-id="@rateProduct.ProductId">
                                                        <i class="fas fa-search"></i>
                                                    </a>
                                                <a data-product-id="@rateProduct.ProductId" data-change="add" class="product-button hintT-top addToCartButton" data-hint="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                }
                            }
                            else
                            {
                                <p>No Products Available</p>
                            }
                        </div>
                        <!-- Products End -->
                    </div>
                </div>
            </div>
        </div>
     

    </div>
</div>
<!-- Product Section End -->



<!-- Testimonial Section Start -->
<div class="section section-padding">
    <div class="container">

        <div class="section-title2 row justify-content-between align-items-center">
            <div class="col-md-auto col-12">
                <!-- Section Title Start -->
                <h2 class="title title-icon-right">We love our clients</h2>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="testimonial-carousel">
            @if (ViewBag.Reviews != null)
            {
                @foreach (var testimonial in ViewBag.Reviews)
                {
                    <div class="col">
                        <div class="testimonial">
                            <p>@testimonial.TestimonialMessage</p>
                            <div class="author">
                                @if (testimonial.User != null)
                                {
                                    <img src="~/User/@testimonial.User.Image" alt="">

                                }
                                else
                                {
                                    <text>Unknown Image</text>
                                }
                                <div class="content">
                                    <h6 class="name">@testimonial.Name</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No Reviews to show</p>
            }
        </div>

    </div>
</div>
<!-- Testimonial Section End -->


@if (TempData.ContainsKey("SweetAlertScript"))
{
    <script>
        @Html.Raw(TempData["SweetAlertScript"])
    </script>
}


<div class="section section-padding border-bottom">
    <div class="container">
        <h2 class="title title-icon-right">Add a review</h2>
        <div class="review-form">
            <p class="note">Your email address will not be published. Required fields are marked *</p>
            <form method="post" asp-action="Testimonial" asp-controller="Home">
                <div class="row learts-mb-n30">
                    <div class="col-md-6 col-12 learts-mb-30">
                        <input type="text" asp-for="Name" name="Name" placeholder="Name *" required>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 col-12 learts-mb-30">
                        <input type="email" name="Email" placeholder="Email *" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-12 learts-mb-30">
                        <textarea name="TestimonialMessage" placeholder="Your Review *" asp-for="TestimonialMessage" required></textarea>
                        <span asp-validation-for="TestimonialMessage" class="text-danger"></span>
                    </div>

                    <div class="col-12 text-center learts-mb-30">
                        <button type="submit" class="btn btn-dark btn-outline-hover-dark">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Modal-->
<div class="quickViewModal modal fade" id="quickViewModal">

@Html.Partial("_ProductDetailsModal");

</div>

@section scripts {
    <script>
        function toggleFavorite(button) {
            var productId = $(button).data('product-id');
            var heartIcon = $(button).find('i');
            var initialFavState = $(heartIcon).data('fav');

            $.ajax({
                url: '@Url.Action("ToggleFavorite", "Favorite")',
                type: 'POST',
                data: { productId: productId },
                success: function (data) {
                    if (data.isFav) {
                        heartIcon.removeClass('far').addClass('fas');
                    } else {
                        heartIcon.removeClass('fas').addClass('far');
                    }

                    $(heartIcon).data('fav', data.isFav);

                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error during AJAX request:', error);
                }
            });
        }

    </script>
}


<script>
    $(document).ready(function () {
        $(".addToCartButton").click(function () {
            var productId = $(this).data("product-id");
            var change = $(this).data("change");

            $.ajax({
                type: "POST",
                url: "/Shopping/Cart",
                data: { productId: productId, change: change },
                success: function (result) {
                    if (result.toLowerCase().includes("login")) {
                        window.location.href = "/Account/Login";
                    } else {
                        $("#offcanvas-cart .body").html($(result).find(".body").html());

                        $("#offcanvas-cart").addClass("show");
                    }
                },
                error: function (error) {
                    if (error.status === 401) {
                        window.location.href = "/Account/Login";
                    } else {
                        console.log("Error fetching partial view:", error);
                    }
                }
            });
        });

        $(".offcanvas-close").click(function () {
            $("#offcanvas-cart").removeClass("show");
            location.reload(true); 
        });
    });

</script>

<script>
  $(document).ready(function () {
    $('.product-button.hintT-top.quickViewButton').on('click', function (e) {
        e.preventDefault();
        var productId = $(this).data('product-id');
        $.ajax({
            url: '/Home/ProductDetails',
            type: 'GET',
            data: { productId: productId },
            success: function (data) {
                // Use .html() to insert the returned HTML into the modal
                $('#quickViewModal .modal-content').html(data);
                $('#quickViewModal').modal('show');
            },
            error: function (error) {
                console.log("Error during AJAX request:", error);
                // Handle the error, show an alert, or log the error as needed
            }
        });
    });
});



</script>




<script>
    $(document).ready(function () {
        if (@sellerConfirmation.ToString().ToLower()) {
            Swal.fire({
                icon: 'success',
                title: 'The Admin will accept you soon',
                text: 'An email containing the details of your order has been sent to you.',
                showConfirmButton: false,
                timer: 3000 // Adjust the timer as needed
            });
        }
    });
</script>