@using SmallBusiness.List;
<link href="~/EditCSS/card.css" rel="stylesheet" />

@{
    Layout = "_AdminLayout";
    var role = ViewBag.Role as string;
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="container">
                @if (ViewBag.SellersWithProfiles != null)
                {
                    foreach (var sellerWithProfile in ViewBag.SellersWithProfiles)
                    {
                        <div class="box">
                            <div class="image">
                                <img src="~/@sellerWithProfile.Seller.Image" alt="">
                            </div>
                            <div class="name_job">@sellerWithProfile.Seller.FirstName @sellerWithProfile.Seller.LastName</div>
                            <p>@sellerWithProfile.Seller.UserName</p>
                            <div class="btns">
                                <button class="btn btn-primary" onclick="location.href='@Url.Action("SellerDetails", "Admin", new { sellerId = sellerWithProfile.Seller.Id })'">Details</button>
                                @if (sellerWithProfile.Seller.IsApproved)
                                    {
                                    <a asp-action="ToggleStatus" asp-route-id="@sellerWithProfile.Seller.Id" class="btn btn-sm font-sm rounded btn-success" style="color:white">Active</a>
                                    }
                                    else
                                    {
                                    <a asp-action="ToggleStatus" asp-route-id="@sellerWithProfile.Seller.Id" class="btn btn-sm font-sm rounded btn-danger">Inactive</a>
                                    }
                               
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</section>
