@model IEnumerable<SmallBusiness.Models.Category>
<link href="~/EditCSS/btnEdit.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
            <li class="breadcrumb-item" active>Categories</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="mt-3 text-end">
                        <a asp-action="Create" class="btn btn-primary">Create <i class="bi bi-plus-lg"></i></a>
                    </div>
                    <table class="table datatable table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Image)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        <img src="~/CategoryImg/@item.Image" alt="@item.CategoryName" style="max-width: 90px;" />
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-primary"><i class="ri-edit-line rem"></i></a>

                                        <form id="deleteForm-@item.CategoryId" method="post" asp-action="Delete" asp-route-id="@item.CategoryId" class="d-inline">
                                            @Html.Hidden("Id", item.CategoryId) <!-- Use Html.Hidden to generate hidden input without strongly typed model -->
                                            <button type="submit" class="btn btn-danger" style="display: none;"></button>
                                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.CategoryId')">
                                                <i class="ri-delete-bin-5-line"></i>

                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>


<script>
    function confirmDelete(categoryId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm-' + categoryId).submit();
            }
        });
    }
</script>







