@model SmallBusiness.ViewModels.ContactProfileViewModel
@using System.Security.Claims;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/ImageFrame/Frame.css" />
<style>
    .profile-edit {
        display: flex;
        justify-content: center;
    }

    .details-container {
        display: flex;
        gap: 10%
    }

    .left, .right {
        width: 50%;
    }

    .font {
        font-size: 20px !important
    }

    .fa-share-square:hover{
        color:#f8796c;
    }

    .social a:hover{
        color: #f8796c;
    }
</style>
@{
    string profileDetailsUrl = Url.Action("ProfileDetails", "Profile", new { profileId = ViewBag.ProfileDetails.Profile.ProfileId }, protocol: ViewContext.HttpContext.Request.Scheme);
}
<!-- Portfolio Section Start -->
<div class="section section-padding border-bottom">
    <div class="container">
        <div class="row learts-mb-n30">
            <h1 class="title text-center mb-5">@ViewBag.ProfileDetails.Profile.ShopName</h1>

            <div class="col-12 learts-mb-30 profile-edit">
                <img src="@ViewBag.ProfileDetails.Profile.ProfileImage" alt="" style="width:400px;height:400px" class="framed">
            </div>

            <div class="col-12 learts-mb-30">
                <div class="portfolio-content details-container">
                    <div class="left">
                        <h2>About</h2>
                        <div class="desc">
                            <p class="font">@ViewBag.ProfileDetails.Profile.Description</p>

                        </div>
                    </div>
                    <div class="right">
                        <h2>Contact</h2>
                        <ul class="meta">
                            <span class="value">
                                @*<span class="sharebtn name" data-bs-toggle="modal" data-bs-target="#contactModal" style="cursor:pointer">
                                    <i class='fas fa-comments'></i>
                                </span>
                                <span>Contact Seller</span>*@
                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactModal" style="padding:10px;border-radius:10px;margin-bottom:20px;">
                                    <i class='fas fa-comments'></i> Contact Seller
                                </button>
                            </span>

                            <li>
                                <span class="value">
                                    <span class="sharebtn name" onclick="copyToClipboard('@profileDetailsUrl')" style="cursor:pointer">
                                        <i class="far fa-share-square"></i>
                                    </span>
                                    <span>Share this link with your friends</span>
                                </span>
                            </li>
                            <li>
                                <span class="name">Follow @ViewBag.ProfileDetails.Profile.ShopName on Social Media:</span>

                                <span class="value social">
                                    <a href="@ViewBag.ProfileDetails.Profile.FacebookLink" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    <a href="@ViewBag.ProfileDetails.Profile.PinterestLink" target="_blank"><i class="fab fa-pinterest-p"></i></a>
                                    <a href="@ViewBag.ProfileDetails.Profile.InstagramLink" target="_blank"><i class="fa fa-instagram"></i></a>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Portfolio Section End -->
<!-- Product Style One Section Start -->
<div class="section section-padding">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title">Made with <i class="fa-solid fa-heart" style="color:#f8796c"></i> by @ViewBag.ProfileDetails.Profile.ShopName</h2>
        </div>
        <!-- Section Title End -->

        <div class="product-carousel">
            @foreach (var product in @ViewBag.ProfileDetails.Products)
            {
                <div class="col">
                    <div class="product">
                        <div class="product-thumb">
                            @functions {
                            bool IsProductInUserFavorites(List<Favorite> favorites, int productId, string userId)
                            {
                                return favorites != null && favorites.Any(f => f.ProductId == productId && f.UserId == userId);
                            }
                        }

                        @{
                                var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                            }


                            <a href="product-details.html" class="image">
                                <img src="~/CategoryImg/@product.ImageUrl" alt="Product Image">
                                <img class="image-hover " src="~/CategoryImg/@product.ImageUrl" alt="Product Image">
                            </a>
                            <button type="button" class="add-to-wishlist " data-product-id="@product.ProductId" onclick="toggleFavorite(this)" style="background:none;border:none">
                                <i class="@(IsProductInUserFavorites(ViewBag.Fav, product.ProductId, currentUserId) ? "fas" : "far") fa-heart" data-fav="@IsProductInUserFavorites(ViewBag.Fav, product.ProductId, currentUserId)"></i>
                            </button>
                        </div>
                        <div class="product-info">
                            <h6 class="title"><a href="product-details.html">@product.ProductName</a></h6>
                            <span class="price">
                                $@product.ProductPrice
                            </span>
                            <div class="product-buttons">
                                <a href="#" class="product-button hintT-top quickViewButton" data-hint="Quick View" data-product-id="@product.ProductId">
                                    <i class="fas fa-search"></i>
                                </a>
                                <a data-product-id="@product.ProductId" data-change="add" class="product-button hintT-top addToCartButton" data-hint="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
<!-- Product Style One Section End -->
<!--Contact Modal-->
<div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactModalLabel">Contact Seller</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span>
                    This message will be directly sent to the shop owner's email.
                </span>
                <!-- Your contact form with hidden field for profileId -->
                <form action="@Url.Action("SendMessage", "Profile")" method="post">
                    <!-- Hidden field for profileId -->
                    <input type="hidden" name="profileId" value="@ViewBag.ProfileDetails.Profile.ProfileId">

                    <!-- Include fields for user to enter name, email, and message -->
                    <div class="mb-3">
                        <label for="contactName" class="form-label">Your Name</label>
                        <input type="text" asp-for="Name" class="form-control" id="contactName" name="Name" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactEmail" class="form-label">Your Email</label>
                        <input type="email" asp-for="Email" class="form-control" id="contactEmail" name="Email" required>
                    </div>
                    <div class="mb-3">
                        <label for="contactMessage" class="form-label">Your Message</label>
                        <textarea class="form-control" asp-for="Message" id="contactMessage" name="Message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div class="quickViewModal modal fade" id="quickViewModal">

    @Html.Partial("_ProductDetailsModal");

</div>

<script>
    function copyToClipboard(link) {
        var input = document.createElement('input');
        input.setAttribute('value', link);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);

        // Replace alert with SweetAlert
        Swal.fire({
            icon: 'success',
            title: 'Link copied to clipboard!',
            showConfirmButton: false,
            timer: 1500
        });
    }
</script>




@section scripts {
    <script>
        function toggleFavorite(button) {
            var productId = $(button).data('product-id');
            var heartIcon = $(button).find('i');
            var initialFavState = $(heartIcon).data('fav');

            $.ajax({
                url: '@Url.Action("ToggleFavorite", "Favorite")',
                type: 'POST',
                data: { productId: productId },
                success: function (data) {
                    if (data.isFav) {
                        heartIcon.removeClass('far').addClass('fas');
                    } else {
                        heartIcon.removeClass('fas').addClass('far');
                    }

                    $(heartIcon).data('fav', data.isFav);

                    // Reload the page
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.error('Error during AJAX request:', error);
                    // Handle error as needed
                }
            });
        }

    </script>
}


<script>
    $(document).ready(function () {
        // Attach click event to the "Add to Cart" button
        $(".addToCartButton").click(function () {
            var productId = $(this).data("product-id");
            var change = $(this).data("change");

            $.ajax({
                type: "POST",
                url: "/Shopping/Cart",
                data: { productId: productId, change: change },
                success: function (result) {
                    // Check if the response contains a redirect to the login page
                    if (result.toLowerCase().includes("login")) {
                        // Redirect the user to the login page
                        window.location.href = "/Account/Login";
                    } else {
                        // Update the offcanvas cart with the returned HTML
                        $("#offcanvas-cart .body").html($(result).find(".body").html());

                        // Display the offcanvas cart if it was hidden
                        $("#offcanvas-cart").addClass("show");
                    }
                },
                error: function (error) {
                    if (error.status === 401) {
                        // Unauthorized - Redirect to the login page
                        window.location.href = "/Account/Login";
                    } else {
                        console.log("Error fetching partial view:", error);
                        // Handle other errors as needed
                    }
                }
            });
        });

        // Attach click event to the offcanvas close button
        $(".offcanvas-close").click(function () {
            $("#offcanvas-cart").removeClass("show");
            // Reload the page after closing the offcanvas
            location.reload(true); // Force a reload from the server
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('.product-button.hintT-top.quickViewButton').on('click', function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            $.ajax({
                url: '/Home/ProductDetails',
                type: 'GET',
                data: { productId: productId },
                success: function (data) {
                    // Use .html() to insert the returned HTML into the modal
                    $('#quickViewModal .modal-content').html(data);
                    $('#quickViewModal').modal('show');
                },
                error: function (error) {
                    console.log("Error during AJAX request:", error);
                    // Handle the error, show an alert, or log the error as needed
                }
            });
        });
    });



</script>