@{
    string profileDetailsUrl = Url.Action("ProfileDetails", "Profile", new { profileId = ViewBag.ProfileDetails.Profile.ProfileId }, protocol: ViewContext.HttpContext.Request.Scheme);
}
<!-- Portfolio Section Start -->
<div class="section section-padding border-bottom">
    <div class="container">
        <div class="row learts-mb-n30">

            <div class="col-xl-6 col-12 learts-mb-30">
                    <img src="@ViewBag.ProfileDetails.Profile.ProfileImage" alt="" style="width:400px;height400px;border-radius:50%">
            </div>

            <div class="col-xl-6 col-12 learts-mb-30">
                <div class="portfolio-content">
                    <h2 class="title">@ViewBag.ProfileDetails.Profile.ShopName</h2>
                    <div class="desc">
                        <p>@ViewBag.ProfileDetails.Profile.Description</p>
                       
                    </div>
                    <ul class="meta">
                        <li>
                            <span class="name">Date:</span>
                            <span class="value">02:27 AM - November 22, 2018</span>
                        </li>
                        <li>
                            <span class="name">Categories:</span>
                            <span class="value category">
                                <a href="#">Decor</a>
                                <a href="#">Toy</a>
                            </span>
                        </li>
                        <li>
                            <span class="name">Tags:</span>
                            <span class="value tags">
                                <a href="#">trending</a>
                            </span>
                        </li>
                        <li>
                            <span class="name">Links:</span>
                            <span class="value">

                                <p>Share this link with your friends:</p>
                                <button onclick="copyToClipboard('@profileDetailsUrl')">Copy Link</button>
                            </span>
                        </li>
                       @* <li>
                            <span class="name">Share:</span>
                            <span class="value social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                                <a href="#"><i class="far fa-envelope"></i></a>
                            </span>
                        </li>*@
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- Portfolio Section End -->

<!-- Product Style One Section Start -->
<div class="section section-padding">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section-title2 text-center">
            <h2 class="title">Products</h2>
        </div>
        <!-- Section Title End -->

        <div class="product-carousel">
             @foreach (var product in @ViewBag.ProfileDetails.Products)
            {
            <div class="col">
                <div class="product">
                    <div class="product-thumb">
                        <a href="product-details.html" class="image">
                                <img src="~/CategoryImg/@product.ImageUrl" alt="Product Image">
                                <img class="image-hover " src="~/CategoryImg/@product.ImageUrl" alt="Product Image">
                        </a>
                        <a href="wishlist.html" class="add-to-wishlist hintT-left" data-hint="Add to wishlist"><i class="far fa-heart"></i></a>
                    </div>
                    <div class="product-info">
                            <h6 class="title"><a href="product-details.html">@product.ProductName</a></h6>
                        <span class="price">
                                $@product.ProductPrice
                        </span>
                        <div class="product-buttons">
                            <a href="#quickViewModal" data-bs-toggle="modal" class="product-button hintT-top" data-hint="Quick View"><i class="fas fa-search"></i></a>
                            <a href="#" class="product-button hintT-top" data-hint="Add to Cart"><i class="fas fa-shopping-cart"></i></a>
                            <a href="#" class="product-button hintT-top" data-hint="Compare"><i class="fas fa-random"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>

    </div>
</div>
<!-- Product Style One Section End -->
<script>
    function copyToClipboard(link) {
        var input = document.createElement('input');
        input.setAttribute('value', link);
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);

        alert("Link copied to clipboard!");
    }
</script>