@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@model SmallBusiness.ViewModels.UserDetailsViewModel
<!-- My Account Section Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row learts-mb-n30">

            <!-- My Account Tab List Start -->
            <div class="col-lg-4 col-12 learts-mb-30">
                <div class="myaccount-tab-list nav">
                    <a href="#dashboad" class="active" data-bs-toggle="tab">Dashboard <i class="far fa-home"></i></a>
                    <a href="#orders" data-bs-toggle="tab">Orders <i class="far fa-file-alt"></i></a>
                    <a href="#account-info" data-bs-toggle="tab">Account Details <i class="far fa-user"></i></a>
                    <a href="@Url.Action("Logout", "Account", new { area = "" })">Logout <i class="far fa-sign-out-alt"></i></a>

                </div>
            </div>
            <!-- My Account Tab List End -->
            <!-- My Account Tab Content Start -->
            <div class="col-lg-8 col-12 learts-mb-30">
                <div class="tab-content">

                    <!-- Single Tab Content Start -->
                    <div class="tab-pane fade show active" id="dashboad">
                        <div class="myaccount-content dashboad">
                            @if (User.Identity.IsAuthenticated)
                            {
                                var user = await UserManager.GetUserAsync(User);
                               
                                <p>Hello <strong>@user.FirstName @user.LastName</strong></p>
                                <p>From your account dashboard you can view your <span>recent orders</span>,and <span>edit your password and account details</span>.</p>
                            }
                            else
                            {
                                <p>Hello <strong>Unknown User</strong></p>
                            }
                        </div>
                    </div>
                    <!-- Single Tab Content End -->


                    <!-- Single Tab Content Start -->
                    <div class="tab-pane fade" id="orders">
                        <div class="myaccount-content order">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model != null && Model.Orders != null)
                                        {
                                            @foreach (var order in Model.Orders)
                                            {
                                                <tr>
                                                    <td>#@order.OrderId</td>
                                                    <td>@order.OrderDate.ToString("MMMM dd, yyyy")</td>
                                                    <td>@order.Status</td>
                                                    <td>@order.TotalPrice</td>
                                                    <td><a href="shopping-cart.html">View</a></td>
                                                </tr>
                                            }
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Single Tab Content End -->


                    <!-- Single Tab Content Start -->
                    <div class="tab-pane fade" id="account-info">
                        <div class="myaccount-content account-details">
                            <div class="account-details-form">
                                <form method="post" asp-controller="UserDetails" asp-action="Edit" enctype="multipart/form-data">
                                    @{
                                        var user = await UserManager.GetUserAsync(User);
                                        var firstName = user?.FirstName ?? "User";
                                        var userImage = user?.Image ?? "assetsAdmin/img/profile-img.jpg";
                                    
                                        <img id="previewImage" src="~/User/@user.Image" style="width: 90px; height: 90px; border-radius: 50%; margin: auto; display: flex; justify-content: center;" class="mb-3" />

                                    <!-- File input for uploading a new image -->
                                        <div class="col-12 learts-mb-30">
                                            <label for="profile-image">Profile Image</label>
                                            <input type="file" id="profile-image" asp-for="EditModel.ProfileImage" accept="image/*">
                                        </div>

                                    }
                                    <div class="row learts-mb-n30">
                                        <div class="col-md-6 col-12 learts-mb-30">
                                            <div class="single-input-item">
                                                <label for="first-name">First Name <abbr class="required">*</abbr></label>
                                                <input asp-for="EditModel.FirstName" type="text" id="first-name">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 learts-mb-30">
                                            <div class="single-input-item">
                                                <label for="last-name">Last Name <abbr class="required">*</abbr></label>
                                                <input asp-for="EditModel.LastName" type="text" id="last-name">
                                            </div>
                                        </div>
                                       @* <div class="col-12 learts-mb-30">
                                            <label for="display-name">Display Name <abbr class="required">*</abbr></label>
                                            <input type="text" id="display-name" value="didiv91396">
                                            <p>This will be how your name will be displayed in the account section and in reviews</p>
                                        </div>*@
                                        <div class="col-12 learts-mb-30">
                                            <label for="email">Email Addres <abbr class="required">*</abbr></label>
                                            <input type="email" id="email" asp-for="EditModel.Email">
                                        </div>
                                        <div class="col-12 learts-mb-30 learts-mt-30">
                                            <fieldset>
                                                <legend>Password change</legend>
                                                <div class="row learts-mb-n30">
                                                   
                                                    <div class="col-12 learts-mb-30">
                                                        <label for="current-pwd">Current password (leave blank to leave unchanged)</label>
                                                        <input asp-for="EditModel.CurrentPassword" type="password" id="current-pwd">
                                                    </div>
                                                    <div class="col-12 learts-mb-30">
                                                        <label for="new-pwd">New password (leave blank to leave unchanged)</label>
                                                        <input asp-for="EditModel.NewPassword" type="password" id="new-pwd">
                                                    </div>
                                                    <div class="col-12 learts-mb-30">
                                                        <label for="confirm-pwd">Confirm new password</label>
                                                        <input asp-for="EditModel.NewPassword" type="password" id="confirm-pwd">
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 learts-mb-30">
                                            <button class="btn btn-dark btn-outline-hover-dark">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- Single Tab Content End -->

                </div>
            </div> <!-- My Account Tab Content End -->
        </div>
    </div>
</div>
<!-- My Account Section End -->

<script>
    function previewImage(input) {
        var preview = document.getElementById('previewImage');
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
            };

            reader.readAsDataURL(file);
        }
    }

    // Attach the previewImage function to the change event of the file input
    document.getElementById('fileInput').addEventListener('change', function () {
        previewImage(this);
    });
</script>