@model IEnumerable<SmallBusiness.Models.Testimonial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestimonialMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestimonialMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.TestimonialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TestimonialId">Delete</a>|
                    @if (item.isActive)
                    {
                        <a asp-action="ToggleStatus" asp-route-id="@item.TestimonialId" class="btn btn-sm font-sm rounded btn-success" style="color:white">Active</a>
                    }
                    else
                    {
                        <a asp-action="ToggleStatus" asp-route-id="@item.TestimonialId" class="btn btn-sm font-sm rounded btn-danger">Inactive</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
