@model IEnumerable<SmallBusiness.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
            <li class="breadcrumb-item" active>Orders</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body pt-3">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalPrice)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OrderDate)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.User)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalPrice)
                                    </td>
                                    <td>
                                        @if (item.Status == SmallBusiness.List.OrderStatus.shipped.ToString())
                                        {
                                            <span class="badge bg-success">@item.Status</span>
                                        }
                                        else if (item.Status == SmallBusiness.List.OrderStatus.pending.ToString())
                                        {
                                            <span class="badge bg-warning">@item.Status</span>
                                        }
                                        else if (item.Status == SmallBusiness.List.OrderStatus.Cancel.ToString())

                                        {
                                            <span class="badge bg-danger">@item.Status</span>
                                        }
                                        else
                                        {
                                            @item.Status
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OrderDate)
                                    </td>

                                    <td>
                                        @item.User.FirstName @item.User.LastName
                                    </td>
                                    <td class="text-end">
                                        <a asp-action="OrderItems" asp-route-id="@item.OrderId" class="btn btn-primary">Order Items</a>
                                        <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-primary">Edit Status</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>



