@model IEnumerable<SmallBusiness.Models.Review>

@{
    ViewData["Title"] = "Index";
}
<style>
    .message-container {
        position: relative;
        max-width: 300px; /* Adjust according to your layout */
        overflow: hidden;
    }

    .message {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        .message.expanded {
            white-space: normal;
            overflow: visible;
            text-overflow: unset;
        }

    .show-more-btn {
        background: transparent;
        border: none;
        cursor: pointer;
    }
</style>
<div class="pagetitle">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Admin">Home</a></li>
            <li class="breadcrumb-item" active>Reviews</li>
        </ol>
    </nav>
</div><!-- End Page Title -->


<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body pt-3">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>

                                    @Html.DisplayNameFor(model => model.ReviewMessage)

                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReviewDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Product)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                   
                                    <td>
                                        <div class="message-container">
                                            <p class="message">
                                                @Html.DisplayFor(modelItem => item.ReviewMessage)
                                            </p>
                                            <button class="show-more-btn text-primary">Show More</button>
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReviewDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        <img src="~/CategoryImg/@item.Product.ImageUrl" style="width:80px">
                                    </td>

                                    <td class="text-end">
                                        @if (item.isActive)
                                        {
                                            <a asp-action="ToggleStatus" asp-route-id="@item.ReviewId" class="btn btn-success" style="color:white">
                                                <i class="ri-user-follow-fill"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="ToggleStatus" asp-route-id="@item.ReviewId" class="btn btn-danger">
                                                <i class="ri-user-unfollow-fill"></i>
                                            </a>
                                        }
                                        <form id="deleteForm-@item.ReviewId" method="post" asp-action="Delete" asp-route-id="@item.ReviewId" class="d-inline">
                                            @Html.Hidden("Id", item.ReviewId)
                                            <button type="submit" class="btn btn-danger" style="display: none;"></button>
                                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@item.ReviewId')">
                                                <i class="ri-delete-bin-5-line"></i>
                                            </a>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</section>






<script>
    function confirmDelete(reviewId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm-' + reviewId).submit();
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('.message-container').each(function () {
            var $message = $(this).find('.message');
            var words = $message.text().trim().split(/\s+/).length;
            if (words <= 3) {
                $(this).find('.show-more-btn').hide();
            }
        });

        $('.show-more-btn').click(function () {
            var $message = $(this).prev('.message');
            $message.toggleClass('expanded');
            if ($message.hasClass('expanded')) {
                $(this).text('Show Less');
            } else {
                $(this).text('Show More');
            }
        });
    });
</script>
